<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/fav.png">
    <meta name="author" content="Dimitri PISANI">
    <meta name="description" content="Boutique de vélos en ligne au meilleur prix">
    <meta charset="UTF-8">
    <title>{% block title %}BikeeShop{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
