{% extends 'layout.html.twig' %}

{% block content %}
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>{% block titlePage %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    {% block main %}{% endblock %}
{% endblock %}
